<footer class="footer">
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>, Theme by <a href="https://github.com/sanonz/hexo-theme-concise" target="_blank">Concise</a>

    <% if( config.baidu && config.baidu.id ) { %>
    <script>
        var _hmt = _hmt || [];
        (function () {
            // 百度
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?<%= config.baidu.id %>";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
            // toc重复标题
            $('.toc-number').remove();
        })();
    </script>
    <% } %>
    <% if (config.mermaid && config.mermaid.enable) { %>
        <script src='https://unpkg.com/mermaid@<%= config.mermaid.version %>/dist/mermaid.min.js'></script>
        <script>
          if (window.mermaid) {
            mermaid.initialize({theme: 'forest'});
          }
        </script>
</footer>
